.radio-nm {
  display: grid;
  gap: 1rem;
  width: max-content;
}

.radio-nm {
  .form-label-nm {
    margin-bottom: -0.25rem;
  }

  &.disabled-true {
    pointer-events: none;
    cursor: not-allowed;
  }

  &.horizontal-false {
    &.vertical-label-true {
      justify-items: center;
    }
  }

  &.horizontal-true {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
  }
}
