.radio-nm {
  display: grid;
  gap: 1rem;
  width: max-content;

  .form-label-nm {
    margin-bottom: 0;
  }

  &.horizontal-false {
    &.vertical-label-true {
      justify-items: center;
    }
  }

  &.horizontal-true {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
  }
}
