@use '../../scss/variables' as *;
@use '../../scss/buttons';

.btn-nm {
  line-height: 1;
  margin: 0;

  color: $white;
  font-weight: 500;

  padding: 0.6em 0.75em;
  border-radius: $br;
  border: none;

  cursor: pointer;
  transition: background 0.2s $cubic, border 0.2s $cubic;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.4rem;

  img {
    width: 0.9em;
    height: 0.9em;
  }

  svg path,
  svg rect,
  svg circle,
  svg ellipse,
  svg polyline,
  svg line,
  svg polygon {
    fill: $white;
  }

  &:hover,
  &:focus,
  &:active {
    outline: none;
  }

  &.round {
    border-radius: 1rem;
  }

  &.loading-true {
    pointer-events: none;
  }

  &.icon {
    aspect-ratio: 1;

    &.round {
      border-radius: 100%;
    }
  }
}

@each $name, $color in $colors {
  .btn-nm.color-#{$name} {
    &.variant-default {
      @include buttons.default-button($color, $name);
    }

    &.variant-outlined {
      @include buttons.outlined-button($color, $name);
    }

    &.variant-secondary {
      @include buttons.secondary-button($color, $name);
    }

    &:disabled {
      background: darken($white, 3%);
      border: 1px solid #e8e8e8;
      color: #898a8a;
      cursor: not-allowed;

      svg path,
      svg rect,
      svg circle,
      svg ellipse,
      svg polyline,
      svg line,
      svg polygon {
        fill: #898a8a;
      }

      &:hover {
        background: darken($white, 3%);
        border: 1px solid #e8e8e8;
        color: #898a8a;
      }
    }

    &:focus-visible {
      @if $name == 'neutral' {
        outline: 2px solid $black;
      } @else {
        outline: 2px solid rgb($color, 0.75);
      }

      outline-offset: 2px;
    }
  }
}
