@use '../../scss/variables' as *;
@use '../../scss/mixins';

.btn-nm {
  line-height: 1;
  margin: 0;
  font: inherit;

  color: $white;
  font-weight: 525;
  letter-spacing: 0.15px;

  padding: 0.6em 0.75em;
  border-radius: $br;
  border: none;

  cursor: pointer;
  transition: background 0.2s $cubic, border 0.2s $cubic;

  display: flex;
  align-items: center;
  justify-content: center;

  img,
  svg {
    width: 0.85em;
    height: 0.85em;
  }

  svg path,
  svg rect,
  svg circle,
  svg ellipse,
  svg polyline,
  svg line,
  svg polygon {
    fill: $white;
  }

  &:hover,
  &:focus,
  &:active {
    outline: none;
  }

  &.round-true {
    border-radius: 1rem;
  }

  &.loading-true {
    pointer-events: none;
  }

  &.icon-true {
    aspect-ratio: 1;

    &.round {
      border-radius: 100%;
    }
  }
}

.btn-nm.size-small {
  font-size: 0.875rem;
  gap: 0.5rem;
}

.btn-nm.size-medium {
  font-size: 0.975rem;
  gap: 0.6rem;
}

.btn-nm.size-large {
  font-size: 1.075rem;
  gap: 0.7rem;
}

@each $name, $color in $colors {
  .btn-nm.color-#{$name} {
    &.variant-default {
      @if $name == 'neutral' {
        background: $white;
        border: 1px solid $color;

        color: $black;

        svg path,
        svg rect,
        svg circle,
        svg ellipse,
        svg polyline,
        svg line,
        svg polygon {
          fill: $black;
        }

        &:hover,
        &:focus-visible,
        &:active {
          border: 1px solid scale-color($color, $lightness: 20%);
          background: scale-color($color, $lightness: 50%);
        }

        &.clicked-true {
          @include mixins.one-pulse(
            scale-color($color, $lightness: -50%),
            $withBorder: true
          );
        }
      } @else {
        background: $color;
        border: 1px solid rgb($color, 0.25);

        &:hover,
        &:focus-visible,
        &:active {
          background: rgb($color, 0.85);
        }

        &.clicked-true {
          @include mixins.one-pulse($color);
        }
      }
    }

    &.variant-outlined {
      @if $name == 'neutral' {
        background: $white;
        border: 1px dashed $black;
        color: $black;

        svg path,
        svg rect,
        svg circle,
        svg ellipse,
        svg polyline,
        svg line,
        svg polygon {
          fill: $black;
        }

        &:hover,
        &:focus-visible,
        &:active {
          background: scale-color($color, $lightness: 40%);
        }

        &.clicked-true {
          @include mixins.one-pulse(scale-color($color, $lightness: -50%));
        }
      } @else {
        background: $white;
        border: 1px dashed $color;
        color: $color;

        svg path,
        svg rect,
        svg circle,
        svg ellipse,
        svg polyline,
        svg line,
        svg polygon {
          fill: $color;
        }

        &:hover,
        &:focus-visible,
        &:active {
          background: scale-color($color, $lightness: 92.5%);
        }

        &.clicked-true {
          @include mixins.one-pulse($color);
        }
      }
    }

    &.variant-secondary {
      @if $name == 'neutral' {
        background: scale-color($color, $lightness: 30%);
        border: 1px solid transparent;
        color: $black;

        svg path,
        svg rect,
        svg circle,
        svg ellipse,
        svg polyline,
        svg line,
        svg polygon {
          fill: $black;
        }

        &:hover,
        &:focus-visible,
        &:active {
          background: scale-color($color, $lightness: -2.5%);
        }

        &.clicked-true {
          @include mixins.one-pulse(
            scale-color($black, $lightness: 20%),
            $withBorder: true
          );
        }
      } @else {
        background: scale-color($color, $saturation: 5%, $lightness: 90%);
        border: 1px solid transparent;
        color: scale-color($color, $lightness: -5%);

        svg path,
        svg rect,
        svg circle,
        svg ellipse,
        svg polyline,
        svg line,
        svg polygon {
          fill: scale-color($color, $lightness: -5%);
        }

        &:hover,
        &:focus-visible,
        &:active {
          background: scale-color(
            $color,
            $saturation: 5%,
            $lightness: 80%
          );
        }

        &.clicked-true {
          @include mixins.one-pulse($color, $withBorder: true);
        }
      }
    }

    &:disabled {
      background: darken($white, 3%);
      border: 1px solid #e8e8e8;
      color: #898a8a;
      cursor: not-allowed;

      svg path,
      svg rect,
      svg circle,
      svg ellipse,
      svg polyline,
      svg line,
      svg polygon {
        fill: #898a8a;
      }

      &:hover {
        background: darken($white, 3%);
        border: 1px solid #e8e8e8;
        color: #898a8a;
      }
    }

    &:focus-visible {
      @if $name == 'neutral' {
        outline: 2px solid $black;
      } @else {
        outline: 2px solid rgb($color, 0.75);
      }

      outline-offset: 2px;
    }
  }
}
