@use '../../scss/mixins';
@use '../../scss/keyframes';
@use '../../scss/resets' as *;
@use '../../scss/variables' as *;

@include resets('.checkbox-nm');

.checkbox-nm {
  position: relative;
}

.checkbox-nm label {
  display: flex;
  gap: 0.55em;
  line-height: 1;

  & + &::before {
    cursor: pointer;
  }

  &.left,
  &.right {
    display: flex;
    align-items: center;

    &::after {
      content: none;
    }
  }

  &.left {
    flex-direction: row-reverse;
  }

  &.top,
  &.bottom {
    display: grid;
    justify-items: center;
  }

  &.top {
    &::after {
      content: none;
    }
  }

  &.bottom {
    &::before {
      content: none;
    }

    &::after {
      content: '';
    }
  }
}

.checkbox-nm,
.checkbox-nm label {
  width: max-content;
  cursor: pointer;
}

.checkbox-nm label::before,
.checkbox-nm label::after {
  content: '';
  display: block;

  border: 1px solid darken($neutral700, 10%);
  border-radius: $br;

  box-shadow: 0 0 0.5px 0 rgb($neutral700, 0.6);

  transition: border 0.25s $cubic, background 0.25s $cubic,
    box-shadow 0.25s $cubic;
}

.checkbox-nm label {
  svg {
    position: absolute;

    border: 0;
    padding: 0.2rem;
    z-index: 5;

    transition: opacity 0.25s $cubic;
    opacity: 0;

    path {
      fill: $white;
      stroke: $white;
      stroke-width: 2px;
      stroke-linejoin: round;
    }
  }
}

.checkbox-nm input:checked + label svg {
  opacity: 1;
}

.checkbox-nm.small {
  label::before,
  label::after {
    height: 1rem;
    width: 1rem;
  }

  label svg {
    height: 0.85rem;
    width: 0.85rem;
    left: 0.075rem;
    top: 0.1rem;
  }

  label {
    font-size: 0.875rem;
  }
}

.checkbox-nm.medium {
  label::before,
  label::after {
    height: 1.1rem;
    width: 1.1rem;
  }

  label {
    svg {
      height: 0.9rem;
      width: 0.9rem;
    }

    &.right svg,
    &.left svg,
    &.top svg {
      top: 0.115rem;
    }

    &.right svg {
      left: 0.1rem;
    }

    &.left svg {
      right: 0.1rem;
    }

    &.bottom svg {
      bottom: 0.075rem;
    }
  }

  label {
    font-size: 1rem;
  }
}

.checkbox-nm.large {
  label::before,
  label::after {
    height: 1.25rem;
    width: 1.25rem;
  }

  label svg {
    height: 1rem;
    width: 1rem;
    left: 0.125rem;
    top: 0.135rem;
  }

  label {
    font-size: 1.15rem;
  }
}

@each $name, $color in $colors {
  .checkbox-nm.#{$name} {
    @if $name == 'neutral' {
      input:checked + label::before,
      input:checked + label::after {
        border: 1px solid scale-color($color, $lightness: 20%);
        background: scale-color($color, $lightness: 50%);
      }

      input:focus-visible + label::before,
      input:active + label::before,
      input:hover + label::before,
      input:focus-visible + label::after,
      input:active + label::after,
      input:hover + label::after {
        border: 1px solid scale-color($color, $lightness: -50%);
        box-shadow: 0
          0
          0.5px
          2.5px
          rgba(scale-color($color, $lightness: -50%), 0.4);
      }

      label svg path {
        fill: $black;
        stroke: $black;
      }
    } @else {
      input:checked + label::before,
      input:checked + label::after {
        background-color: $color;
        border: 1px solid $color;
      }

      input:focus-visible + label::before,
      input:active + label::before,
      input:hover + label::before,
      input:focus-visible + label::after,
      input:active + label::after,
      input:hover + label::after {
        border: 1px solid $color;
        box-shadow: 0 0 0.5px 2.5px rgba($color, 0.4);
      }
    }
  }
}

.checkbox-nm input {
  left: 0;
  opacity: 0;
  position: absolute;
  top: 0;

  &:disabled {
    & + label::before {
      background: darken($white, 5%);
      border: 1px solid #d9d9d9;
      color: #898a8a;
      cursor: not-allowed;
    }

    & + label svg {
      path {
        fill: #898a8a;
        stroke: #898a8a;
      }
    }

    &:focus-visible + label::before,
    &:active + label::before,
    &:hover + label::before {
      border: 1px solid #d9d9d9;
      box-shadow: 0 0 0.5px 0 rgb($white, 0.6);
    }

    & + label {
      cursor: not-allowed;
    }
  }
}
