@use '../../scss/mixins';
@use '../../scss/keyframes';
@use '../../scss/resets' as *;
@use '../../scss/variables' as *;

@include resets('.checkbox-nm');

.checkbox-nm {
  position: relative;
}

.checkbox-nm input {
  left: 0;
  opacity: 0;
  position: absolute;
  top: 0;
}

.checkbox-nm input + label::before,
.checkbox-nm input + label {
  cursor: pointer;
}

.checkbox-nm input + label::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;

  border: 1px solid darken($neutral700, 10%);
  border-radius: $br;

  box-shadow: 0 0 0.5px 0 rgb($neutral700, 0.6);

  transition: border 0.25s $cubic, background 0.25s $cubic,
    box-shadow 0.25s $cubic;
}

.checkbox-nm.round-true input + label::before {
  border-radius: 100%;
}

.checkbox-nm input + label svg {
  position: absolute;

  border: 0;
  padding: 0.2rem;

  transition: opacity 0.25s $cubic;
  opacity: 0;

  path {
    fill: $white;
    stroke: $white;
    stroke-width: 2px;
    stroke-linejoin: round;
  }
}

.checkbox-nm input:checked + label svg {
  opacity: 1;
}

.checkbox-nm.small {
  input + label::before {
    height: 1rem;
    width: 1rem;
    top: 0.15rem;
  }

  input + label svg {
    height: 0.85rem;
    width: 0.85rem;
    left: 0.075rem;
    top: 0.2rem;
  }

  input + label {
    padding-left: 1.6rem;
    font-size: 0.875rem;
  }
}

.checkbox-nm.medium {
  input + label::before {
    height: 1.1rem;
    width: 1.1rem;
    top: 0.025rem;
  }

  input + label svg {
    height: 0.9rem;
    width: 0.9rem;
    left: 0.1rem;
    top: 0.125rem;
  }

  input + label {
    padding-left: 1.75rem;
    font-size: 1rem;
  }
}

.checkbox-nm.large {
  input + label::before {
    height: 1.25rem;
    width: 1.25rem;
    top: 0.025rem;
  }

  input + label svg {
    height: 1rem;
    width: 1rem;
    left: 0.125rem;
    top: 0.135rem;
  }

  input + label {
    padding-left: 1.9rem;
    font-size: 1.15rem;
  }
}

@each $name, $color in $colors {
  .checkbox-nm.#{$name} {
    @if $name == 'neutral' {
      input:checked + label::before {
        border: 1px solid scale-color($color, $lightness: 20%);
        background: scale-color($color, $lightness: 50%);
      }

      input:focus-visible + label::before,
      input:active + label::before,
      input:hover + label::before {
        border: 1px solid scale-color($color, $lightness: -50%);
        box-shadow: 0
          0
          0.5px
          2.5px
          rgba(scale-color($color, $lightness: -50%), 0.4);
      }

      input + label svg path {
        fill: $black;
        stroke: $black;
      }
    } @else {
      input:checked + label::before {
        background-color: $color;
        border: 1px solid $color;
      }

      input:focus-visible + label::before,
      input:active + label::before,
      input:hover + label::before {
        border: 1px solid $color;
        box-shadow: 0 0 0.5px 2.5px rgba($color, 0.4);
      }
    }
  }
}

.checkbox-nm input:disabled {
  & + label::before {
    background: darken($white, 5%);
    border: 1px solid #d9d9d9;
    color: #898a8a;
    cursor: not-allowed;
  }

  & + label svg {
    path {
      fill: #898a8a;
      stroke: #898a8a;
    }
  }

  &:focus-visible + label::before,
  &:active + label::before,
  &:hover + label::before {
    border: 1px solid #d9d9d9;
    box-shadow: 0 0 0.5px 0 rgb($white, 0.6);
  }

  & + label {
    cursor: not-allowed;
  }
}
