@use '../../../scss/variables' as *;

.select-nm > .options-nm > .group-nm + .group-nm,
.select-nm > .options-nm > .group-nm ~ .group-nm {
  ul {
    border-bottom: none;
    margin-bottom: 0;
    padding-bottom: 0;
  }
}

.select-nm > .options-nm > .group-nm:first-of-type {
  ul {
    padding-top: 1.25rem;
  }
}

.select-nm > .options-nn .option-nm + .group-nm {
  margin-top: 0.75rem;
}

.select-nm > .options-nm > .group-nm {
  ul {
    display: grid;
    gap: 0.35rem;
    width: 100%;

    .title-nm {
      display: flex;
      gap: 0.3rem;
      align-items: center;

      font-size: 0.875em;
      padding: 0 0.5em 0.5em 0.5rem;
      overflow: hidden;

      text-transform: uppercase;
      font-weight: 600;

      color: inherit;
      color: rgba($black, 0.65);

      svg {
        transform: rotate(180deg);

        path,
        rect {
          fill: rgba($black, 0.45);
        }
      }
    }

    .option-nm {
      &:last-of-type {
        padding-bottom: 0.25rem;
      }
    }
  }
}
