@use '../../../scss/variables' as *;

.options-nm__option {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  gap: 0.5rem;

  border: 1px solid transparent;
  border-radius: $br;

  padding: 0.4em 0.5em;

  transition: background 0.25s ease-in-out, color 0.25s ease-in-out,
    border 0.25s ease-in-out, padding 0.25s ease-in-out;
  cursor: pointer;

  &-label {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 0.85em;

    svg {
      transform: scale(1.25);
    }
  }

  &,
  &[aria-selected='true'] {
    &:hover,
    &:focus-visible,
    &:active {
      outline: none;
      background: darken($white, 5%);
      border: 1px solid lighten($black, 75.5%);
      padding-left: 1em;
    }

    &:focus-visible {
      background: lighten($black, 77.5%);
    }
  }

  &[aria-selected='true'] {
    font-weight: 500;
  }

  &[aria-disabled='true'] {
    svg {
      opacity: 0.45;
      filter: grayscale(100%);
    }
  }

  &:first-child {
    margin-top: 0.9rem;
  }

  &:last-child {
    margin-bottom: 0.9rem;
  }
}

@each $name, $color in $colors {
  @if $name == 'neutral' {
    .select-nm.color-#{$name} .options-nm__option {
      &[aria-selected='true'] {
        background: scale-color($color, $saturation: 5%, $lightness: 50%);
        border: 1px solid scale-color($color, $saturation: 5%, $lightness: 50%);
      }
    }
  } @else {
    .select-nm.color-#{$name} .options-nm__option {
      &[aria-selected='true'] {
        background: scale-color($color, $saturation: 5%, $lightness: 90%);
        border: 1px solid scale-color($color, $saturation: 5%, $lightness: 90%);
      }
    }
  }
}

%select-colors {
  &[aria-disabled='true'] {
    background: darken($white, 3%);
    color: #898a8a;
    cursor: not-allowed;

    &:hover {
      padding: 0.4em 0.5em;
    }
  }
}

@each $name, $color in $colors {
  .select-nm.color-#{$name} .options-nm__option {
    @extend %select-colors;
  }
}
