@use '../../scss/variables' as *;

.slider input {
  z-index: 10;
  width: 100%;
  position: absolute;
  appearance: none;
  background-color: transparent;
  opacity: 0;

  &::-webkit-slider-thumb,
  &::-moz-range-thumb {
    appearance: none;
    height: 1.3rem !important;
    width: 1.3rem !important;
    border-radius: 100%;
    cursor: pointer;
  }

  @each $name, $color in $colors {
    &:focus-visible + .range.color-#{$name} {
      .dot {
        border: 1px solid $color;
        box-shadow: 0 0 0.5px 2.5px rgba($color, 0.4);
      }
    }
  }
}

.slider.size-small {
  font: inherit;

  input {
    transform: scaleX(1.1) scaleY(1.3);

    &input::-webkit-slider-thumb,
    &input::-moz-range-thumb {
      height: 1.1rem !important;
      width: 1.1rem !important;
    }
  }

  .range {
    height: 0.6rem;
  }

  .dot {
    height: 1rem;
  }
}

.slider.size-medium {
  input {
    transform: scale(1.1);

    &input::-webkit-slider-thumb,
    &input::-moz-range-thumb {
      height: 1.3rem !important;
      width: 1.3rem !important;
    }
  }

  .range {
    height: 0.8rem;
  }

  .dot {
    height: 1.2rem;
  }
}

.slider.size-large {
  input {
    transform: scaleX(1.1) scaleY(1.5);

    &input::-webkit-slider-thumb,
    &input::-moz-range-thumb {
      height: 1.5rem !important;
      width: 1.5rem !important;
    }
  }

  .range {
    height: 1rem;
  }

  .dot {
    height: 1.4rem;
  }
}

.slider {
  position: relative;

  .range {
    position: relative;
    border-radius: $br * 4;
    box-shadow: 0 0 0.15px 2px transparent;
    width: 100%;

    background-color: scale-color($neutral700, $lightness: 30%);
    transition: background-color 0.35s $cubic, box-shadow 0.35s $cubic,
      border 0.35s $cubic;
  }

  .dot {
    margin-top: -0.25rem;
    position: absolute;
    border: 1px solid $white;
    border-radius: 100%;
    background-color: $white;
    aspect-ratio: 1;

    transform: translateX(-50%);

    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.3), inset 0 0 1px 0 rgba(0, 0, 0, 0.05);
    transition: border 0.25s $cubic, box-shadow 0.35s $cubic, transform 0.35s $cubic;

    .tooltip {
      position: absolute;
      border-radius: $br;
      left: 50%;
      transform: translateX(-50%);
      padding: 0.4rem 0.3rem;
      color: $white;
      background: $black;

      font-size: 80%;

      z-index: 20;
      white-space: nowrap;
      top: calc(2.5rem * -1);
      box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px,
        rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;

      &::before {
        content: ' ';
        left: 50%;
        border: solid transparent;
        height: 0;
        width: 0;
        position: absolute;
        pointer-events: none;
        border-width: 6px;
        margin-left: calc(6px * -1);
        top: 100%;
        border-top-color: $black;
        box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px,
          rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
      }
    }
  }
}

.slider.vertical-true {
  display: grid;
  place-content: center;

  label {
    margin-bottom: 0.9rem;
  }

  input {
    -webkit-appearance: slider-vertical;

    height: 5.5rem;
    width: 1rem;

    left: 50%;
    margin-left: -0.5rem;
    bottom: 1.5rem;
  }

  .range {
    height: 8rem;
    align-self: center;
    justify-self: center;
  }

  .dot {
    margin-top: 0.25rem;
  }

  &.size-small {
    .range {
      width: 0.6rem;
    }

    .dot {
      margin-left: 0.3rem;
    }
  }

  &.size-medium {
    .range {
      width: 0.8rem;
      margin-left: 0.25rem;
    }

    .dot {
      margin-left: 0.4rem;
    }
  }

  &.size-large {
    .range {
      width: 1rem;
    }

    .dot {
      margin-left: 0.5rem;
    }
  }
}

.slider.vertical-true .tooltip {
  left: calc(100% + 0.75rem);
  top: 50%;
  transform: translateX(0) translateY(-50%);

  &::before {
    left: calc(6px * -1);
    top: 50%;
    transform: translateX(0) translateY(-50%);
    border-right-color: $black;
    border-top-color: transparent;
  }
}

.slider.disabled-true {
  filter: grayscale(100%);
  color: rgba($black, 0.4);
}
